In [1]:
## Hello World

print("Hello World")

Hello World

In [2]:
## Importing stuff

from matplotlib import pyplot as plt

import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./data/BlackFriday.csv")

In [10]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %popd  %pprint  %precision  %profile  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [4]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [ ]:
## Timing stuff

In [7]:
%%timeit

for num in df["Purchase"].values:
    sqrt_num = np.sqrt(num)

768 ms ± 26 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [8]:
%%timeit

df["Purchase"].apply(np.sqrt)

3.18 ms ± 159 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [10]:
%%timeit

np.sqrt(df["Purchase"])

3.46 ms ± 327 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [12]:
%%timeit

for _, num in df["Purchase"].iteritems():
    sqrt_num = np.sqrt(num)

550 ms ± 21 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

Ez egy markdown cella.